<nav-dir></nav-dir>
<form ng-submit="login(user)">
  Email: <input type="email" ng-model="user.email" required/>
  Password: <input type="password" ng-model="user.password" required/>
  <button type="submit">login</button>
</form>
<br><br><br>
<form ng-submit="register(newUser)">
  Name: <input type="text" ng-model="newUser.name" required/>
  Email: <input type="email" ng-model="newUser.email" required/>
  Password: <input type="password" ng-model="newUser.password" required/>
  <button type="submit">Register</button>
</form>
